<!doctype html>
 <html>
 <head> 
    <title>Users List </title>
  </head>
  <body>
    <h1> <%=shopName%> Shop</h1>
    <p>Users List:</p>
  <ul>
                                                                                                                                               
                                                                                                                                               
                                                                                                                                             



                                                                                                                                               
     <% for(let i = 0; i < availableUserdetails.length; i++) { %>
         <li>  <%= availableUserdetails[i]['username'] %>  <%= availableUserdetails[i]['firstname'] %>  <%= availableUserdetails[i]['lastname'] %>  <%= availableUserdetails[i]['email'] %> </li>
         <% } %> 
    </ul>
  </body>
</html>
